In [31]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import LabelEncoder

we have imported the necessary libraries so lets import the data set

In [34]:
df=pd.read_csv("C:/Users/Lokesh/Downloads/train-chennai-sale.csv")
df

,PRT_ID,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
0,P09411,Anna Nagar,1986,19-12-2006,2.0,1.0,5,Ab Normal,No,22-12-1995,...,4.9,4.2,2.5,3.765,760122,304049,21717770,4.067698e+07,1.04,1.872981
1,P05346,Velachery,1855,13-03-2010,3.0,2.0,5,Family,No,18-03-1988,...,4.7,3.9,3.6,4.010,356321,77042,9630290,1.541840e+07,1.04,1.601032
2,P00219,Chrompet,1220,11-09-2014,2.0,1.0,4,Partial,No,12-09-2009,...,4.5,2.6,3.1,3.320,409027,198316,12394750,1.696307e+07,1.04,1.368569
3,P09105,Chrompet,1167,05-04-2007,1.0,1.0,3,Partial,No,12-04-1979,...,3.6,2.1,2.5,2.670,263152,33955,8488790,1.528783e+07,1.04,1.800944
4,P09679,Velachery,1847,13-03-2006,3.0,2.0,5,Family,No,15-03-1996,...,2.4,4.5,2.1,3.260,604809,235204,16800250,3.146655e+07,1.04,1.872981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P05438,T Nagar,1733,24-02-2010,1.0,1.0,4,Ab Normal,Yes,02-03-1985,...,3.4,3.7,2.1,2.890,702058,312026,19501600,3.122269e+07,1.04,1.601032
7105,P05042,Karapakkam,666,11-05-2010,1.0,1.0,2,Adj Land,Yes,20-05-1974,...,3.2,4.4,2.5,3.280,273317,74541,6211750,9.945212e+06,1.04,1.601032
7106,P10000,Velachery,1897,08-04-2004,3.0,2.0,5,Family,Yes,11-04-1995,...,3.6,4.5,3.3,3.920,346191,205551,10818480,2.191626e+07,1.04,2.025817
7107,P06508,Karapakkam,787,03-08-2009,1.0,1.0,2,Partial,Yes,11-08-1977,...,4.6,3.8,4.1,4.160,425350,119098,8507000,1.416478e+07,1.04,1.665074
7108,P09794,Velachery,1896,13-07-2005,3.0,2.0,5,Partial,Yes,24-07-1961,...,3.1,3.5,4.3,3.640,349177,79812,9976480,1.943319e+07,1.04,1.947900

Data cleaning

so lets check if the data  contains any null and duplicate values

In [35]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7109 entries, 0 to 7108
Data columns (total 24 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   PRT_ID         7109 non-null   object
 1   AREA           7109 non-null   object
 2   INT_SQFT       7109 non-null   int64
 3   DATE_SALE      7109 non-null   object
 4   N_BEDROOM      7108 non-null   float64
 5   N_BATHROOM     7104 non-null   float64
 6   N_ROOM         7109 non-null   int64
 7   SALE_COND      7109 non-null   object
 8   PARK_FACIL     7109 non-null   object
 9   DATE_BUILD     7109 non-null   object
 10  BUILDTYPE      7109 non-null   object
 11  UTILITY_AVAIL  7109 non-null   object
 12  STREET         7109 non-null   object
 13  MZZONE         7109 non-null   object
 14  QS_ROOMS       7109 non-null   float64
 15  QS_BATHROOM    7109 non-null   float64
 16  QS_BEDROOM     7109 non-null   float64
 17  QS_OVERALL     7061 non-null   float64
 18  REG_FEE        7109 non-null   int64
 19  COMMIS         7109 non-null   int64
 20  SALES_PRICE    7109 non-null   int64
 21  INF_PRICE      7109 non-null   float64
 22  1+0.04         7109 non-null   float64
 23  POWER(Z,Y)     7109 non-null   float64
dtypes: float64(9), int64(5), object(10)
memory usage: 1.3+ MB

In [36]:
df.isnull().sum()

PRT_ID            0
AREA              0
INT_SQFT          0
DATE_SALE         0
N_BEDROOM         1
N_BATHROOM        5
N_ROOM            0
SALE_COND         0
PARK_FACIL        0
DATE_BUILD        0
BUILDTYPE         0
UTILITY_AVAIL     0
STREET            0
MZZONE            0
QS_ROOMS          0
QS_BATHROOM       0
QS_BEDROOM        0
QS_OVERALL       48
REG_FEE           0
COMMIS            0
SALES_PRICE       0
INF_PRICE         0
1+0.04            0
POWER(Z,Y)        0
dtype: int64

so we have null values so lets  replace the null values with mean or median of the columns
using simple imputer

In [37]:
df.describe()

,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
count,7109.000000,7108.000000,7104.000000,7109.000000,7109.000000,7109.000000,7109.000000,7061.000000,7109.000000,7109.000000,7.109000e+03,7.109000e+03,7.109000e+03,7109.000000
mean,1382.073006,1.637029,1.213260,3.688704,3.517471,3.507244,3.485300,3.503254,376938.330708,141005.726544,1.089491e+07,1.767201e+07,1.040000e+00,1.621739
std,457.410902,0.802902,0.409639,1.019099,0.891972,0.897834,0.887266,0.527223,143070.662010,78768.093718,3.768603e+06,6.310658e+06,4.441204e-16,0.141455
min,500.000000,1.000000,1.000000,2.000000,2.000000,2.000000,2.000000,2.000000,71177.000000,5055.000000,2.156875e+06,3.591355e+06,1.040000e+00,1.315932
25%,993.000000,1.000000,1.000000,3.000000,2.700000,2.700000,2.700000,3.130000,272406.000000,84219.000000,8.272100e+06,1.323023e+07,1.040000e+00,1.539454
50%,1373.000000,1.000000,1.000000,4.000000,3.500000,3.500000,3.500000,3.500000,349486.000000,127628.000000,1.033505e+07,1.687515e+07,1.040000e+00,1.601032
75%,1744.000000,2.000000,1.000000,4.000000,4.300000,4.300000,4.300000,3.890000,451562.000000,184506.000000,1.299390e+07,2.098167e+07,1.040000e+00,1.731676
max,2500.000000,4.000000,2.000000,6.000000,5.000000,5.000000,5.000000,4.970000,983922.000000,495405.000000,2.366734e+07,4.354230e+07,1.040000e+00,2.025817

In [7]:
from sklearn.impute import SimpleImputer

In [38]:
sim_imp=SimpleImputer(missing_values=np.nan,strategy='median')
df['N_BEDROOM']=sim_imp.fit_transform(df[['N_BEDROOM']])
df['N_BATHROOM']=sim_imp.fit_transform(df[['N_BATHROOM']])
df['QS_OVERALL']=sim_imp.fit_transform(df[['QS_OVERALL']])

df.isnull().sum()

PRT_ID           0
AREA             0
INT_SQFT         0
DATE_SALE        0
N_BEDROOM        0
N_BATHROOM       0
N_ROOM           0
SALE_COND        0
PARK_FACIL       0
DATE_BUILD       0
BUILDTYPE        0
UTILITY_AVAIL    0
STREET           0
MZZONE           0
QS_ROOMS         0
QS_BATHROOM      0
QS_BEDROOM       0
QS_OVERALL       0
REG_FEE          0
COMMIS           0
SALES_PRICE      0
INF_PRICE        0
1+0.04           0
POWER(Z,Y)       0
dtype: int64

so we have replaced the null values using simple imputer technique lets check the duplicate
values

In [39]:
df.duplicated().sum()

np.int64(0)

so we have completed the data cleaning process lets convert the categorical data into numerical
data

In [41]:
label_encoder=LabelEncoder()
df['AREA']=label_encoder.fit_transform(df[['AREA']])
df['SALE_COND']=label_encoder.fit_transform(df[['SALE_COND']])
df['PARK_FACIL']=label_encoder.fit_transform(df[['PARK_FACIL']])
df['BUILDTYPE']=label_encoder.fit_transform(df[['BUILDTYPE']])
df['UTILITY_AVAIL']=label_encoder.fit_transform(df[['UTILITY_AVAIL']])
df['STREET']=label_encoder.fit_transform(df[['STREET']])
df['MZZONE']=label_encoder.fit_transform(df[['MZZONE']])

C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
C:\Users\Lokesh\AppData\Roaming\Python\Python311\site-packages\sklearn\preprocessing\_label.py:114: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [42]:
df

,PRT_ID,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
0,P09411,1,1986,19-12-2006,2.0,1.0,5,0,0,22-12-1995,...,4.9,4.2,2.5,3.765,760122,304049,21717770,4.067698e+07,1.04,1.872981
1,P05346,6,1855,13-03-2010,3.0,2.0,5,2,0,18-03-1988,...,4.7,3.9,3.6,4.010,356321,77042,9630290,1.541840e+07,1.04,1.601032
2,P00219,2,1220,11-09-2014,2.0,1.0,4,4,0,12-09-2009,...,4.5,2.6,3.1,3.320,409027,198316,12394750,1.696307e+07,1.04,1.368569
3,P09105,2,1167,05-04-2007,1.0,1.0,3,4,0,12-04-1979,...,3.6,2.1,2.5,2.670,263152,33955,8488790,1.528783e+07,1.04,1.800944
4,P09679,6,1847,13-03-2006,3.0,2.0,5,2,0,15-03-1996,...,2.4,4.5,2.1,3.260,604809,235204,16800250,3.146655e+07,1.04,1.872981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,P05438,5,1733,24-02-2010,1.0,1.0,4,0,1,02-03-1985,...,3.4,3.7,2.1,2.890,702058,312026,19501600,3.122269e+07,1.04,1.601032
7105,P05042,4,666,11-05-2010,1.0,1.0,2,1,1,20-05-1974,...,3.2,4.4,2.5,3.280,273317,74541,6211750,9.945212e+06,1.04,1.601032
7106,P10000,6,1897,08-04-2004,3.0,2.0,5,2,1,11-04-1995,...,3.6,4.5,3.3,3.920,346191,205551,10818480,2.191626e+07,1.04,2.025817
7107,P06508,4,787,03-08-2009,1.0,1.0,2,4,1,11-08-1977,...,4.6,3.8,4.1,4.160,425350,119098,8507000,1.416478e+07,1.04,1.665074
7108,P09794,6,1896,13-07-2005,3.0,2.0,5,4,1,24-07-1961,...,3.1,3.5,4.3,3.640,349177,79812,9976480,1.943319e+07,1.04,1.947900

so we have converted all the categorical columns into numerical columns using label encoder 
technique

FEATURE SELECTION

lets select the features based on the correlation and human intution
lets remove the PRT_ID has it wont be useful for prediction

In [67]:
df.drop(columns='PRT_ID',axis=1,inplace=True)

KeyError: "['PRT_ID'] not found in axis"

df

from the data we can see that year of built might affect the housing price but we cannot convert the date into numerical columns instead lets break down the date column into year month and date so that model can take numerical values and predict the value according to the data that we feed as an input to the system


for this lets convert into datetime object and then import the datetime library for seperating it

In [47]:
df['DATE_BUILD']=pd.to_datetime(df['DATE_BUILD'],dayfirst=True)
df

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)"
0,1,1986,19-12-2006,2.0,1.0,5,0,0,1995-12-22,0,...,4.9,4.2,2.5,3.765,760122,304049,21717770,4.067698e+07,1.04,1.872981
1,6,1855,13-03-2010,3.0,2.0,5,2,0,1988-03-18,2,...,4.7,3.9,3.6,4.010,356321,77042,9630290,1.541840e+07,1.04,1.601032
2,2,1220,11-09-2014,2.0,1.0,4,4,0,2009-09-12,0,...,4.5,2.6,3.1,3.320,409027,198316,12394750,1.696307e+07,1.04,1.368569
3,2,1167,05-04-2007,1.0,1.0,3,4,0,1979-04-12,2,...,3.6,2.1,2.5,2.670,263152,33955,8488790,1.528783e+07,1.04,1.800944
4,6,1847,13-03-2006,3.0,2.0,5,2,0,1996-03-15,0,...,2.4,4.5,2.1,3.260,604809,235204,16800250,3.146655e+07,1.04,1.872981
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,5,1733,24-02-2010,1.0,1.0,4,0,1,1985-03-02,0,...,3.4,3.7,2.1,2.890,702058,312026,19501600,3.122269e+07,1.04,1.601032
7105,4,666,11-05-2010,1.0,1.0,2,1,1,1974-05-20,2,...,3.2,4.4,2.5,3.280,273317,74541,6211750,9.945212e+06,1.04,1.601032
7106,6,1897,08-04-2004,3.0,2.0,5,2,1,1995-04-11,2,...,3.6,4.5,3.3,3.920,346191,205551,10818480,2.191626e+07,1.04,2.025817
7107,4,787,03-08-2009,1.0,1.0,2,4,1,1977-08-11,0,...,4.6,3.8,4.1,4.160,425350,119098,8507000,1.416478e+07,1.04,1.665074
7108,6,1896,13-07-2005,3.0,2.0,5,4,1,1961-07-24,2,...,3.1,3.5,4.3,3.640,349177,79812,9976480,1.943319e+07,1.04,1.947900

In [50]:
from datetime import datetime as dt

df['year_built']=df['DATE_BUILD'].dt.year
df['month']=df['DATE_BUILD'].dt.month
df['day']=df['DATE_BUILD'].dt.day

df

,AREA,INT_SQFT,DATE_SALE,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,DATE_BUILD,BUILDTYPE,...,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,1+0.04,"POWER(Z,Y)",year_built,month,day
0,1,1986,19-12-2006,2.0,1.0,5,0,0,1995-12-22,0,...,3.765,760122,304049,21717770,4.067698e+07,1.04,1.872981,1995,12,22
1,6,1855,13-03-2010,3.0,2.0,5,2,0,1988-03-18,2,...,4.010,356321,77042,9630290,1.541840e+07,1.04,1.601032,1988,3,18
2,2,1220,11-09-2014,2.0,1.0,4,4,0,2009-09-12,0,...,3.320,409027,198316,12394750,1.696307e+07,1.04,1.368569,2009,9,12
3,2,1167,05-04-2007,1.0,1.0,3,4,0,1979-04-12,2,...,2.670,263152,33955,8488790,1.528783e+07,1.04,1.800944,1979,4,12
4,6,1847,13-03-2006,3.0,2.0,5,2,0,1996-03-15,0,...,3.260,604809,235204,16800250,3.146655e+07,1.04,1.872981,1996,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,5,1733,24-02-2010,1.0,1.0,4,0,1,1985-03-02,0,...,2.890,702058,312026,19501600,3.122269e+07,1.04,1.601032,1985,3,2
7105,4,666,11-05-2010,1.0,1.0,2,1,1,1974-05-20,2,...,3.280,273317,74541,6211750,9.945212e+06,1.04,1.601032,1974,5,20
7106,6,1897,08-04-2004,3.0,2.0,5,2,1,1995-04-11,2,...,3.920,346191,205551,10818480,2.191626e+07,1.04,2.025817,1995,4,11
7107,4,787,03-08-2009,1.0,1.0,2,4,1,1977-08-11,0,...,4.160,425350,119098,8507000,1.416478e+07,1.04,1.665074,1977,8,11
7108,6,1896,13-07-2005,3.0,2.0,5,4,1,1961-07-24,2,...,3.640,349177,79812,9976480,1.943319e+07,1.04,1.947900,1961,7,24

so we have succesfully seperated the date build column into year date and day from here
lets check the correlation value for each of the column for feature selection

date sales is not required so lets remove from the data

In [60]:

df

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,...,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,REG_FEE,COMMIS,SALES_PRICE,INF_PRICE,year_built,month,day
0,1,1986,2.0,1.0,5,0,0,0,0,0,...,4.2,2.5,3.765,760122,304049,21717770,4.067698e+07,1995,12,22
1,6,1855,3.0,2.0,5,2,0,2,2,2,...,3.9,3.6,4.010,356321,77042,9630290,1.541840e+07,1988,3,18
2,2,1220,2.0,1.0,4,4,0,0,2,1,...,2.6,3.1,3.320,409027,198316,12394750,1.696307e+07,2009,9,12
3,2,1167,1.0,1.0,3,4,0,2,0,1,...,2.1,2.5,2.670,263152,33955,8488790,1.528783e+07,1979,4,12
4,6,1847,3.0,2.0,5,2,0,0,0,0,...,4.5,2.1,3.260,604809,235204,16800250,3.146655e+07,1996,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,5,1733,1.0,1.0,4,0,1,0,2,1,...,3.7,2.1,2.890,702058,312026,19501600,3.122269e+07,1985,3,2
7105,4,666,1.0,1.0,2,1,1,2,1,0,...,4.4,2.5,3.280,273317,74541,6211750,9.945212e+06,1974,5,20
7106,6,1897,3.0,2.0,5,2,1,2,2,1,...,4.5,3.3,3.920,346191,205551,10818480,2.191626e+07,1995,4,11
7107,4,787,1.0,1.0,2,4,1,0,1,2,...,3.8,4.1,4.160,425350,119098,8507000,1.416478e+07,1977,8,11
7108,6,1896,3.0,2.0,5,4,1,2,1,2,...,3.5,4.3,3.640,349177,79812,9976480,1.943319e+07,1961,7,24

lets remove the date build column as we already seperated the values

In [54]:
df.drop(columns=['DATE_BUILD'],axis=1,inplace=True)

lets remove 1.04 and power(z,y)

In [58]:
df.drop(columns=['1+0.04','POWER(Z,Y)'],inplace=True,axis=1)

registration fees and commision doesnt affect the sales price so lets remove the columns

In [62]:
df.drop(columns=['REG_FEE','COMMIS'],inplace=True,axis=1)

In [63]:
df_correlation=df.corr()
df_correlation

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,SALES_PRICE,INF_PRICE,year_built,month,day
AREA,1.000000,0.351331,0.361847,0.222176,0.279363,-0.007565,0.010383,-0.009517,0.004391,0.014482,-0.154106,0.005033,-0.001288,0.003343,0.005688,-0.019138,0.035621,-0.209074,0.003453,-0.010365
INT_SQFT,0.351331,1.000000,0.786263,0.515290,0.951279,0.006969,0.004618,-0.006329,0.014694,0.008341,0.143226,0.019850,-0.008337,0.008865,0.013979,0.612125,0.618143,-0.009301,-0.013052,-0.001219
N_BEDROOM,0.361847,0.786263,1.000000,0.755207,0.840209,0.009801,-0.009357,-0.002262,0.018621,0.003909,0.049928,0.014948,-0.007534,0.015752,0.014240,0.330987,0.366867,0.012421,-0.012529,-0.021889
N_BATHROOM,0.222176,0.515290,0.755207,1.000000,0.568541,0.001707,-0.014033,-0.003601,0.020080,-0.009369,-0.047164,0.013376,-0.012043,0.013191,0.007959,0.108834,0.134627,0.001514,-0.000243,-0.030713
N_ROOM,0.279363,0.951279,0.840209,0.568541,1.000000,0.009726,-0.000934,-0.007127,0.016157,0.000194,0.163697,0.016524,-0.007545,0.015072,0.015406,0.602760,0.606139,0.013409,-0.010326,-0.007155
SALE_COND,-0.007565,0.006969,0.009801,0.001707,0.009726,1.000000,-0.012948,-0.010065,0.003847,0.012191,0.023552,0.004002,-0.013895,-0.006485,-0.008083,-0.030732,-0.029876,0.008576,0.006886,-0.008455
PARK_FACIL,0.010383,0.004618,-0.009357,-0.014033,-0.000934,-0.012948,1.000000,-0.006436,0.004047,0.007567,-0.007192,-0.008128,-0.011935,-0.001165,-0.009608,0.146428,0.143659,0.008042,-0.005334,-0.010985
BUILDTYPE,-0.009517,-0.006329,-0.002262,-0.003601,-0.007127,-0.010065,-0.006436,1.000000,0.014974,-0.010680,-0.016594,-0.001640,0.009661,-0.000391,0.002561,-0.436276,-0.429707,-0.000171,-0.003910,-0.005297
UTILITY_AVAIL,0.004391,0.014694,0.018621,0.020080,0.016157,0.003847,0.004047,0.014974,1.000000,0.009737,0.012343,0.007509,0.005364,0.008394,0.010706,-0.023812,-0.025998,0.002936,0.015505,-0.019727
STREET,0.014482,0.008341,0.003909,-0.009369,0.000194,0.012191,0.007567,-0.010680,0.009737,1.000000,-0.002052,0.013360,0.012205,-0.018329,0.006086,-0.042652,-0.048806,-0.000073,-0.009114,-0.001268
MZZONE,-0.154106,0.143226,0.049928,-0.047164,0.163697,0.023552,-0.007192,-0.016594,0.012343,-0.002052,1.000000,0.002429,-0.017181,0.003635,-0.005548,0.427789,0.382633,0.129873,0.003136,0.008535
QS_ROOMS,0.005033,0.019850,0.014948,0.013376,0.016524,0.004002,-0.008128,-0.001640,0.007509,0.013360,0.002429,1.000000,0.008828,0.007789,0.516143,0.021967,0.020657,-0.018704,0.021872,-0.006514
QS_BATHROOM,-0.001288,-0.008337,-0.007534,-0.012043,-0.007545,-0.013895,-0.011935,0.009661,0.005364,0.012205,-0.017181,0.008828,1.000000,-0.011745,0.549046,-0.011377,-0.012538,-0.021168,-0.013695,0.014769
QS_BEDROOM,0.003343,0.008865,0.015752,0.013191,0.015072,-0.006485,-0.001165,-0.000391,0.008394,-0.018329,0.003635,0.007789,-0.011745,1.000000,0.628167,0.018804,0.017153,0.018011,-0.000926,0.000122
QS_OVERALL,0.005688,0.013979,0.014240,0.007959,0.015406,-0.008083,-0.009608,0.002561,0.010706,0.006086,-0.005548,0.516143,0.549046,0.628167,1.000000,0.020474,0.019013,-0.012201,-0.003387,0.000723
SALES_PRICE,-0.019138,0.612125,0.330987,0.108834,0.602760,-0.030732,0.146428,-0.436276,-0.023812,-0.042652,0.427789,0.021967,-0.011377,0.018804,0.020474,1.000000,0.962969,0.116043,0.000947,0.006738
INF_PRICE,0.035621,0.618143,0.366867,0.134627,0.606139,-0.029876,0.143659,-0.429707,-0.025998,-0.048806,0.382633,0.020657,-0.012538,0.017153,0.019013,0.962969,1.000000,0.053554,0.028192,0.007720
year_built,-0.209074,-0.009301,0.012421,0.001514,0.013409,0.008576,0.008042,-0.000171,0.002936,-0.000073,0.129873,-0.018704,-0.021168,0.018011,-0.012201,0.116043,0.053554,1.000000,-0.024825,-0.020596
month,0.003453,-0.013052,-0.012529,-0.000243,-0.010326,0.006886,-0.005334,-0.003910,0.015505,-0.009114,0.003136,0.021872,-0.013695,-0.000926,-0.003387,0.000947,0.028192,-0.024825,1.000000,0.003139
day,-0.010365,-0.001219,-0.021889,-0.030713,-0.007155,-0.008455,-0.010985,-0.005297,-0.019727,-0.001268,0.008535,-0.006514,0.014769,0.000122,0.000723,0.006738,0.007720,-0.020596,0.003139,1.000000

based on the correlation we can infert that some columns are postively correlated and some are 
negatively correlated but few columns are correleted in a weak way regardless they are positive
and negative so lets take all the columns as each column might contribute to the sales price

In [68]:
df

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,SALES_PRICE,INF_PRICE,year_built,month,day
0,1,1986,2.0,1.0,5,0,0,0,0,0,3,4.9,4.2,2.5,3.765,21717770,4.067698e+07,1995,12,22
1,6,1855,3.0,2.0,5,2,0,2,2,2,2,4.7,3.9,3.6,4.010,9630290,1.541840e+07,1988,3,18
2,2,1220,2.0,1.0,4,4,0,0,2,1,3,4.5,2.6,3.1,3.320,12394750,1.696307e+07,2009,9,12
3,2,1167,1.0,1.0,3,4,0,2,0,1,4,3.6,2.1,2.5,2.670,8488790,1.528783e+07,1979,4,12
4,6,1847,3.0,2.0,5,2,0,0,0,0,5,2.4,4.5,2.1,3.260,16800250,3.146655e+07,1996,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,5,1733,1.0,1.0,4,0,1,0,2,1,4,3.4,3.7,2.1,2.890,19501600,3.122269e+07,1985,3,2
7105,4,666,1.0,1.0,2,1,1,2,1,0,2,3.2,4.4,2.5,3.280,6211750,9.945212e+06,1974,5,20
7106,6,1897,3.0,2.0,5,2,1,2,2,1,3,3.6,4.5,3.3,3.920,10818480,2.191626e+07,1995,4,11
7107,4,787,1.0,1.0,2,4,1,0,1,2,4,4.6,3.8,4.1,4.160,8507000,1.416478e+07,1977,8,11
7108,6,1896,3.0,2.0,5,4,1,2,1,2,2,3.1,3.5,4.3,3.640,9976480,1.943319e+07,1961,7,24

lets train the model using linear regression algorithm

In [78]:

x=df.drop(columns='SALES_PRICE')
x

,AREA,INT_SQFT,N_BEDROOM,N_BATHROOM,N_ROOM,SALE_COND,PARK_FACIL,BUILDTYPE,UTILITY_AVAIL,STREET,MZZONE,QS_ROOMS,QS_BATHROOM,QS_BEDROOM,QS_OVERALL,INF_PRICE,year_built,month,day
0,1,1986,2.0,1.0,5,0,0,0,0,0,3,4.9,4.2,2.5,3.765,4.067698e+07,1995,12,22
1,6,1855,3.0,2.0,5,2,0,2,2,2,2,4.7,3.9,3.6,4.010,1.541840e+07,1988,3,18
2,2,1220,2.0,1.0,4,4,0,0,2,1,3,4.5,2.6,3.1,3.320,1.696307e+07,2009,9,12
3,2,1167,1.0,1.0,3,4,0,2,0,1,4,3.6,2.1,2.5,2.670,1.528783e+07,1979,4,12
4,6,1847,3.0,2.0,5,2,0,0,0,0,5,2.4,4.5,2.1,3.260,3.146655e+07,1996,3,15
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7104,5,1733,1.0,1.0,4,0,1,0,2,1,4,3.4,3.7,2.1,2.890,3.122269e+07,1985,3,2
7105,4,666,1.0,1.0,2,1,1,2,1,0,2,3.2,4.4,2.5,3.280,9.945212e+06,1974,5,20
7106,6,1897,3.0,2.0,5,2,1,2,2,1,3,3.6,4.5,3.3,3.920,2.191626e+07,1995,4,11
7107,4,787,1.0,1.0,2,4,1,0,1,2,4,4.6,3.8,4.1,4.160,1.416478e+07,1977,8,11
7108,6,1896,3.0,2.0,5,4,1,2,1,2,2,3.1,3.5,4.3,3.640,1.943319e+07,1961,7,24

In [70]:
y=df[['SALES_PRICE']]
y

      SALES_PRICE
0        21717770
1         9630290
2        12394750
3         8488790
4        16800250
...           ...
7104     19501600
7105      6211750
7106     10818480
7107      8507000
7108      9976480

[7109 rows x 1 columns]

we have created a features and target variables so let split the data into training and  testing using train test split

In [82]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1,random_state=42)

model=LinearRegression()
model.fit(x_train,y_train)
model_pred=model.predict(x_test)

so we have trained the model so lets check the metrics

In [83]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

In [85]:
mae = mean_absolute_error(y_test, model_pred)
print(f"Mean Absolute Error (MAE): {mae}")
mse = mean_squared_error(y_test, model_pred)
print(f"Mean Squared Error (MSE): {mse}")
rmse = np.sqrt(mse)
print(f"Root Mean Squared Error (RMSE): {rmse}")
r2 = r2_score(y_test, model_pred)
print(f"R-squared (R²): {r2}")

Mean Absolute Error (MAE): 624469.2137423985
Mean Squared Error (MSE): 651084470570.1375
Root Mean Squared Error (RMSE): 806898.054632763
R-squared (R²): 0.9549624583403191

so we have successfully predicted the values using linear regression model
and evaluated the metrics from the above metrics we can see that r2 score is 0.95 which means
close to 1 so the model fits the data well and predicted the values